* {
	box-sizing:border-box;
}

body{
	line-height: 1;
}

.container{
	width:500px;
	padding-right:0;
	padding-left:0;
	margin-right:0;
	margin-left:0;
}

.page-header{
	width:500px;
	text-align: center;
}

.gameContainer{
	font-family: 'Roboto Slab', serif;
	min-height:520px;
	width:585px;
	position:relative;
	padding:20px;
	margin: 0 auto;
}

.instructions-button, .examples-button{
	text-align: center;
	display: block;
	font-size: 1em;
	float:left;
	margin: 0 auto;
}

.button-container{
	text-align: center;
	margin-bottom: 10px;
}

/*.btn-bottom{
	display: block;
	clear:left;
}*/

.alert{
	display: block;
	clear:left;
}

.glyphicon{
	font-size: 30px;
}

.instructions, .examples {
	display:block;
	float:right;
	clear:left;
}

p{
	font-family: 'Slabo 27px', serif;
	display:block;
	clear:left;
}

.table{
	width:500px;
	overflow:hidden;
	padding-top:15px;
	position:relative;
}

.card{
	float:left;
	border:1px solid #d4d4d4;
	border-bottom-width:5px;
	border-right-width:5px;
	background:#fff;
	width:30%;
	height:102px;
	margin:5px;
	cursor:pointer;
}

.card:hover{
	background-color:#EBEBEB;
}

.card-selected{
	float:left;
	border:1px solid #d4d4d4;
	border-bottom-width:5px;
	border-right-width:5px;
	width:30%;
	height:102px;
	margin:5px;
	cursor:pointer;
	background-color:#EBEBEB;
	border:gray;
}

.shape-container div {
  display:inline-block;
  width:28%;
}

.shape-container{
  margin: 0 auto;
  width: 50%;
  border:none;
  position:relative;
  top:20%;
  text-align: center;
}

.alert{
	margin-bottom: 
}

.alert-error{
	background:#F2DEDE;
	color:#B94A57;
}

.modal {
	color:#3E4649 ;
}

.calls-to-action{
	text-align:center;
	color:#4B5A5D;
}

footer{
	background:#ECECEC;
}

.container-footer{
	width:585px;
	position:relative;
	padding:20px;
	margin: 0 auto;
}

/*Begins css for card elements*/

.red {
	color:red; 
}

.green{
  color:green
}

.purple {
	color:purple;
}

.diamond {
	overflow: hidden;
	position: relative;
	margin: 15% auto;
	padding: 14.5%;
	width: 0;
	transform: rotate(-120deg) skewX(30deg) scaleY(.866);
}

.diamond.stripe.green:before {
	position: absolute;
	top: 0%; right:  -37.5%; bottom:  0; left:  -37.5%;
	transform: scaleY(1.155) skewX(-30deg) rotate(180deg);;
	background: linear-gradient(90deg,  green 50%, transparent 50%);
	background-size: 4px;
	content: ''
}

.diamond.stripe.purple:before{
	position: absolute;
	top: 0%; right:  -37.5%; bottom:  0; left:  -37.5%;
	transform: scaleY(1.155) skewX(-30deg) rotate(180deg);;
	background: linear-gradient(90deg,  purple 50%, transparent 50%);
	background-size: 4px;
	content: ''
}

.diamond.full.red:before{
	position: absolute;
	top: 0%; right:  -37.5%; bottom:  0; left:  -37.5%;
	transform: scaleY(1.155) skewX(-30deg) rotate(180deg);;
	background: linear-gradient(90deg,  red 100%, transparent 0%);
	background-size: 4px;
	content: ''
}

.diamond.green.blank{
	color:white;
	border: 2px solid green;
}

.diamond.purple.blank{
	color:white;
	border: 2px solid purple;
}

.diamond.red.blank{
	color:white;
	border:2px solid red;
}

.squiggle.full:before{
	content:"~";
	display:inline-block;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	font-size:60px;
	text-align: center;
	padding-top:8px;
}


.oval{
	overflow: hidden;
	position: relative;
	margin: 15% auto;
	padding: 10%;
	width:30px;
	height:45px;
	border-radius:50px / 100px;
}

.oval.red.blank{
	color:white;
	border:2px solid red;
}

.oval.green.blank{
	color:white;
	border:2px solid green;
}

.oval.purple.stripe:before{
	position: absolute;
	top: 0%; right:  -37.5%; bottom:  0; left:  -37.5%;
	transform: scaleY(1.155) skewX(-30deg) rotate(180deg);;
	background: linear-gradient(90deg, purple 50%, transparent 50%);
	background-size: 4px;
	content: ''
}

/*Begins css for form*/

.form-group, legend{
	color:#4B5A5D;
}

.form-control{
	background-color: #ECECEC;
}

legend{
	width:140px;
}

.form-check-label{
	font-size: 12px;
	color:#4B5A5D;
}



