* {
	box-sizing:border-box;
}

body{
	height:800px;
	width:600px;
}

.gameContainer{
	font-family:Arial, Helvetica, sans-serif;
	min-height:520px;
	width:585px;
	float:left;
	position:relative;
}

.table{
	height:574px;
	width:487px;
	overflow:hidden;
	padding-top:15px;
	position:relative;
	border:2px solid black;
}

.game-card{
	float:left;
	border:1px solid #d4d4d4;
	border-bottom-width:5px;
	border-right-width:5px;
	background:#fff;
	width:172px;
	height:102px;
	margin:5px;
	cursor:pointer;
}



